@model ArticleIndexViewModel

@{
    ViewBag.Title = "Articles";
    Layout = "_Layout";
}

<h2>Articles</h2>

@if (Model.Articles.Any())
{
    foreach (var article in Model.Articles)
    {
        await Html.RenderPartialAsync("_ArticlePreview", article);
    }
}